

.main
{
	border-radius: 300px;
    background: yellow;
    width: 300px;
    height: 300px;  
    position: absolute;
}

.left
{
	border-radius: 90%;	
	width: 50px;
	height: 60px;
	position: absolute;	
	background-color: black;
	margin: 20%;
	float: left;

}
.right
{
	border-radius: 90%;
	width: 50px;
	height: 60px;
	background-color: black;
	position: relative;
	margin: 20%;
	float: right;

}


.s1
{
	background-color: black;
	width: 190px;
	height: 80px;
	top: 170px;
	left: 60px;
	position:absolute;
	border-radius: 100%;
	/*border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;*/

}

.s2
{
	background-color: yellow;
	width: 190px;
	height: 70px;
	top: 169px;
	left: 60px;
	border-radius: 100%;
	position:absolute;
	/*border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;*/

}